

<!DOCTYPE html>



<html>
<head>
    <meta charset="utf-8" />
    <title>Employee Management System</title>
    
</head>
<body>

<h1>Detail for @Model.Name</h1>

<form asp-action="IndividualDetail"method="post">
    <input type="hidden"name="id"value="@Model.Id" />
    <p>
        <b>ID:</b>@Model.Id</b>
    </p>
        <p>
            <label>Name:</label>
            <input type="text" name="name" value="@Model.Name" />
        </p>
        <p>
            <label>Salary:</label>
            <input type="number" name="salary" value="@Model.Salary" required min="1" />
        </p>
        <p>
            <label>Bonus:</label>
            <input type="number" name="bonus" value="@Model.Bonus" />
        </p>
       
    @if(Model is TaskEmployeeManagementSystem.Models.Manager mgr)
    {
    <p>
                <label>Team Size:</label>
                <input type="number"name="teamsize"value="@mgr.TeamSize" />
            </p>
        }
        else
        {
            <input type="hidden"name="teamsize"value="0" />
        }
        <button type="submit">Update</button>
        <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Cancel</a>


</form>
</body>
</html>