@model TaskEmployeeManagementSystem.Models.Employee

<!DOCTYPE html>



<html>
<head>
    <meta charset="utf-8" />
    <title>Employee Management System</title>
    
</head>
<body>

<h1>Detail for @Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID:</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Name:</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Salary:</dt>
        <dd class="col-sm-10">@Model.Salary</dd>

        <dt class="col-sm-2">Bonus:</dt>
        <dd class="col-sm-10">@Model.Bonus</dd>

        @if (Model is TaskEmployeeManagementSystem.Models.Manager mgr)
        {
            <dt class="col-sm-2">Team Size:</dt>
            <dd class="col-sm-10">@mgr.TeamSize</dd>
        }
    </dl>
</div>

<div>
    <a asp-controller="Employee" asp-action="Index" class="btn btn-secondary">Back to List</a>

</div>
</body>
</html>